.panda-bg-primary{
    background-color: #fceae8;
}
.panda-btn{
    background-color: #ff1e76 !important;
    color: white !important;
    padding: 9px 25px !important;
}
.panda-bg-success{
    background-color: #da70d6;
}
.text-01{
    color:#ff1e76;
}